<footer class="text-center">
  <p>Open Access is an initiative of Food & Society at the Aspen Institute, with support generously provided by the Robert Wood Johnson Foundation (the views expressed here do not necessarily reflect the views of the Foundation). The portal structure was inspired by the business portal projects designed and built by <a href="https://codeforamerica.org/" target="_blank">Code for America</a> and <a href="https://www.longbeach.gov/iteam/" target="_blank">Long Beach i-team</a>, and the template content was modeled on and drawn from the Franklin County Food Business Portal, Minneapolis Small Business portal, and the Long Beach i-team portal.</p>
</footer>
