<div class="field-unit__label">
  <%= f.label field.attribute %>
</div>
<div class="field-unit__field" data-controller="rich-text">
  <div id="editorjs"></div>
  <%= f.hidden_field field.attribute %>
</div>
