<a href="<%= block['data']['link'] %>" class="block--link">
  <div class="card shadow-sm">
    <div class="card-body p-4">
      <h5 class="card-title"><%= block['data']['meta']['title'] %></h5>
      <p class="card-text"><%= block['data']['meta']['description'] %></p>
      <p class="card-text"><small class="text-muted"><%= block['data']['meta']['domain'] %></small></p>
    </div>
  </div>
</a>
