:root {
  --color-primary: #0a4a7a;
  --color-secondary: #3396cf;

  --color-text-on-primary: #fff;
  --color-text-on-secondary: #fff;

  --color-text: #353535;
  --color-light-text: #414244;
  --color-subtext: #B9B9BB;

  --size-container-width: 960px;
}
